.graph-root {
    height: 10rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: end;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.graph-root>.bar {
    height: 100%;
    display: grid;
    align-items: end;
}