.bar-day {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.bar-day>.bar {
    width: 2rem;
    height: 1rem;
    background-color: var(--primary-color-soft-red);
    border-radius: 5px;
    transition-duration: 500ms;
    transition-property: all;
    position: relative;
    display: flex;
    justify-content: center;
}

.bar-day .amount {
    background-color: var(--neutral-color-dark-brown);
    border-radius: 5px;
    padding: 0.1rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    position: absolute;
    top: -1.5rem;
    color: var(--neutral-color-very-pale-orange);
    display: none;
}

.bar-day .white {
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    display: none;
}

.bar-day .bar:hover .amount,
.bar-day .bar:hover .white {
    display: block;
}

.bar-day>.day {
    margin-top: 0.5rem;
}