.draw {
    position: relative;
    width: 3.5rem;
}

.draw>.circle-1 {
    position: absolute;
    border: 2px solid var(--neutral-color-very-pale-orange);
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    left: 0;
    z-index: 200;
}

.draw>.circle-2 {
    position: absolute;
    background-color: var(--neutral-color-dark-brown);
    border: 2px solid var(--neutral-color-dark-brown);
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    right: 0;
    z-index: 100;
}